
.imgs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: space-evenly;
  /* border: 2px solid red; */
  cursor: pointer;
  position: relative;
}

.imgs img {
  border-radius: 5px;
  width: 470px;
  height: 470px;
  object-fit: cover;
  opacity: 80%;
}

.imgs img:hover {
  transform: scale(1.01);
  opacity: 100%;
}
.alt {
  position: absolute;
  color: white;
  margin: auto;
  font-size: 15px;
  bottom: 10px;
  left: 10px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.user {
  display: flex;
  justify-content: center;
  gap: 5px;
  text-align: center;
  position: absolute;
  color: white;
  margin: 0px;
  font-size: 15px;
  top: 10px;
  left: 10px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.name:hover {
  color: gray;
}
.icon {
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}